html {
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
}

.calculator-container{
  display:grid;
  justify-content:center;
  align-items: center;
  min-height: 70vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  
}